;; Example player
[{:db/id #db/id[:db.part/user]
  :player/name "wambat"}]

;; Example spatials
[{:db/id #db/id[:db.part/user -1]
  :spatial/type :peasant 
  :spatial/x 1N
  :spatial/y 2N
  :spatial/params {:spatial-param/name :health 
                   :spatial-param/value 100N}
  :spatial/hand #db/id[:db.part/user -1]}
 {:db/id #db/id[:db.part/user]
  :spatial/type :peasant 
  :spatial/x 2N
  :spatial/y 3N
  :spatial/params {:spatial-param/name :health 
                   :spatial-param/value 50N}
  :spatial/hand #db/id[:db.part/user -1]}]
